.btn-red
  font-family: $semibold
  text-transform: uppercase
  font-size: 10pt
  color: #333
  position: relative
  background: transparent
  border: 0
  border-radius: 0
  padding: 20px 22px
  transition: .2s ease
  span
    position: relative
    z-index: 1
  &:after
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    width: 42px
    height: 30px
    border-top: 1px solid $color-red
    border-left: 1px solid $color-red
    border-bottom: 1px solid transparent
    border-right: 1px solid transparent
    background: transparent
    transition: .2s ease
  &:before
    content: ''
    display: block
    position: absolute
    bottom: 0
    right: 0
    width: 42px
    height: 30px
    border-bottom: 1px solid $color-red
    border-right: 1px solid $color-red
    border-top: 1px solid transparent
    border-left: 1px solid transparent
    background: transparent
    transition: .2s ease
  &:focus
    color: #333
    background: transparent
    border: 0
    &:after
      width: 42px
      height: 30px
      background: transparent
      border-bottom: 1px solid transparent
      border-right: 1px solid transparent
    &:before
      width: 42px
      height: 30px
      background: transparent
      border-top: 1px solid transparent
      border-left: 1px solid transparent
  &:hover
    color: #fff
    background: transparent
    border: 0
    &:after
      width: 100%
      height: 100%
      background: $color-red
      border-bottom: 1px solid $color-red
      border-right: 1px solid $color-red
    &:before
      width: 100%
      height: 100%
      background: $color-red
      border-top: 1px solid $color-red
      border-left: 1px solid $color-red