.form-control--base
  font-family: $regular
  font-size: 12pt
  border-radius: 0
  background: transparent
  border: 0
  border-bottom: 1px solid #475D6D
  padding: 7px 0
  color: #fff
  transition: border-color .3s ease
  &:focus
    box-shadow: none
    background: transparent
    border-color: $color-red
    color: #fff
  &:hover
    border-color: $color-red
  &::placeholder
    color: #ccc

.form-group--base
  margin-bottom: 30px

.form-control--modal
  font-family: $regular
  font-size: 12pt
  border-radius: 0
  background: transparent
  border: 0
  border-bottom: 1px solid #999
  padding: 7px 0
  color: #333
  transition: border-color .3s ease
  &:focus
    box-shadow: none
    background: transparent
    border-color: $color-red
    color: #333
  &:hover
    border-color: $color-red
  &::placeholder
    color: #808080