.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

#SVG_container{
	position: absolute;
	height: 0;
	width: 0;
}

.icon-1 {
	font-size:(118)*1px;
	width:(118)*1px;
}
.icon-10 {
	font-size:(26)*1px;
	width:(26)*1px;
}
.icon-11 {
	font-size:(16)*1px;
	width:(27)*1px;
}
.icon-12 {
	font-size:(15)*1px;
	width:(15)*1px;
}
.icon-13 {
	font-size:(169)*1px;
	width:(370)*1px;
}
.icon-14 {
	font-size:(19)*1px;
	width:(80)*1px;
}
.icon-15 {
	font-size:(368)*1px;
	width:(370)*1px;
}
.icon-2 {
	font-size:(37)*1px;
	width:(37)*1px;
}
.icon-3 {
	font-size:(5)*1px;
	width:(8)*1px;
}
.icon-4 {
	font-size:(13)*1px;
	width:(13)*1px;
}
.icon-5 {
	font-size:(8)*1px;
	width:(5)*1px;
}
.icon-5-c {
	font-size:(8)*1px;
	width:(5)*1px;
}
.icon-6 {
	font-size:(8)*1px;
	width:(5)*1px;
}
.icon-6-c {
	font-size:(8)*1px;
	width:(5)*1px;
}
.icon-7 {
	font-size:(37)*1px;
	width:(22)*1px;
}
.icon-8 {
	font-size:(37)*1px;
	width:(22)*1px;
}
.icon-9 {
	font-size:(19)*1px;
	width:(27)*1px;
}
