include _project_vars

mixin head(array)
    meta(charset='UTF-8')
    title!=array.title_inner
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    link(rel='apple-touch-icon', sizes='57x57', href='/img/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/img/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/img/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/img/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/img/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/img/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/img/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/img/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/img/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/img/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    link(rel='manifest', href='/img/favicon/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/img/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    link(rel="stylesheet" media="all" href="/css/main_global.css")

mixin scripts
    if jQuery
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-3.2.1.min.js"><\/script>')</script>
        //-todo скачать новую версию в проект

    if jQueryUI
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script>window.jQuery.ui || document.write('<script src="js/jquery-ui.min.js"><\/script>')</script>
        //-todo скачать новую версию в проект

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    //script(src="/js/bootstrap.bundle.min.js")
    script(src="/js/all.js")
    script(src='/js/main.js')

mixin icon(name,mod)
    - mod = mod || ''
    svg(class="icon icon-" + name + ' ' + mod)
        use(xlink:href="#" + name)
//use(xlink:href="/img/sprite/sprite.svg#" + name)
