mixin header
	#SVG_container
	header.header.js-header
		.container.header__container
			.row
				.col.header__left
					img(src='/img/icons/1.svg').header__left__logo

					.dropdown.header__left__dropdown
						button.btn.btn-city(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							| Череповец
							+icon(3, 'btn-city__arrow')
						.dropdown-menu
							a.dropdown-item(href='#') Череповец
							a.dropdown-item(href='#') Вологда
							a.dropdown-item(href='#') Ярославль

					.header__left__phone
						+icon(4, 'icon-phone')
						span.text-phone 8 (8202) 73-11-11,
						span.text-phone 8 (800) 111-11-11

				.col-auto.header__right
					button.btn.btn-navbar.js-btn-navbar
						span.btn-navbar__line

					nav#nav-scroll.navbar.navbar-main.hidden-md.js-nav-scroll
						ul.nav
							li.nav-item.navbar-main__item
								a.nav-link.navbar-main__link(href='#about') О нас
							li.nav-item.navbar-main__item
								a.nav-link.navbar-main__link(href='#projects') Проекты
							li.nav-item.navbar-main__item
								a.nav-link.navbar-main__link(href='#team') Команда
							li.nav-item.navbar-main__item
								a.nav-link.navbar-main__link(href='#contacts') Контакты

					button.btn.btn-red.js-add-title-modal.hidden-lg(type='button', data-toggle='modal', data-target='#signupModal', data-title-modal='Записаться на просмотр')
						span Записаться на просмотр

mixin footer
	footer.footer
		.container
			.row
				.col-12.col-lg-auto.footer__left
					nav.navbar.navbar-main.navbar-main--footer.js-nav-scroll
						ul.nav
							li.nav-item.navbar-main__item
								a.nav-link.navbar-main__link(href='#about') О нас
							li.nav-item.navbar-main__item
								a.nav-link.navbar-main__link(href='#projects') Проекты
							li.nav-item.navbar-main__item
								a.nav-link.navbar-main__link(href='#team') Команда
							li.nav-item.navbar-main__item
								a.nav-link.navbar-main__link(href='#contacts') Контакты

				.col-12.col-lg.footer__right
					.footer__phone
						+icon(4, 'icon-phone')
						span.text-phone 8 (8202) 73-11-11,
						span.text-phone 8 (800) 111-11-11

					a(href='#').link-developer
						span Разработка
						+icon(14, 'icon-logo')

mixin menu_mobile
	.navbar-mobile.js-navbar-mobile
		.navbar-mobile__scroll
			img(src='/img/icons/1.svg').navbar-mobile__logo

			.dropdown.navbar-mobile__dropdown
				button.btn.btn-city(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
					| Череповец
					+icon(3, 'btn-city__arrow')
				.dropdown-menu
					a.dropdown-item(href='#') Череповец
					a.dropdown-item(href='#') Вологда
					a.dropdown-item(href='#') Ярославль

			.navbar-mobile__phone
				+icon(4, 'icon-phone')
				span.text-phone 8 (8202) 73-11-11,
				span.text-phone 8 (800) 111-11-11

			nav.navbar.navbar-main.navbar-mobile__menu.js-nav-scroll
				ul.nav
					li.nav-item.navbar-main__item
						a.nav-link.navbar-main__link(href='#about') О нас
					li.nav-item.navbar-main__item
						a.nav-link.navbar-main__link(href='#projects') Проекты
					li.nav-item.navbar-main__item
						a.nav-link.navbar-main__link(href='#team') Команда
					li.nav-item.navbar-main__item
						a.nav-link.navbar-main__link(href='#contacts') Контакты

			button.btn.btn-red.js-add-title-modal(type='button', data-toggle='modal', data-target='#signupModal', data-title-modal='Записаться на просмотр')
				span Записаться на просмотр

mixin local_popup
	#signupModal.modal.fade(tabindex='-1', aria-hidden='true')
		.modal-dialog.modal-dialog--big
			.modal-content.modal-content--big
				.modal-header.modal-header--big
					.modal-logo
						img.modal-logo__img(src='/img/icons/1.svg')
					button.close.btn-close(type='button', data-dismiss='modal')
						span Закрыть
						+icon(12)
				.modal-body.modal-body--big
					.row
						.container
							.row
								.col-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2.col-xl-6.offset-xl-3.modal-body--big__center
									h4.modal-title.js-title-modal

									form
										.row
											.col-12
												.form-group.form-group--modal
													input.form-control.form-control--modal(type='text', placeholder='Имя', required)
												.form-group.form-group--modal
													input.form-control.form-control--modal.phone-mask(type='tel', placeholder='Телефон', required)
												.form-group.form-group--modal
													input.form-control.form-control--modal(type='email', placeholder='E-mail')

											.col-12.btn-red-block-modal
												button.btn.btn-red
													span Записаться

												p.modal-personal Нажимая на кнопку «Записаться», я даю
													br
													| согласие на обработку персональных данных

				.modal-footer.modal-footer--big

	#projectsModal.modal.fade(tabindex='-1', aria-hidden='true')
		.modal-dialog.modal-dialog--big
			.modal-content.modal-content--big
				.modal-header.modal-header--big
					button.close.btn-close(type='button', data-dismiss='modal')
						span Закрыть
						+icon(12)
				.modal-body.modal-body--big
					.row
						.container
							.row
								.col-12.modal-body--big__top
									.projects-detail
										span.projects-detail__type Базовый проект
										h2.projects-detail__title Haus #120
										p Maxima Haus это – дизайн, изготовление и продажа современных жилых домов выполненных в лучших традициях скандинавского домостроения.
										p Maxima Haus это – дизайн, изготовление и продажа современных жилых домов выполненных в лучших традициях скандинавского домостроения.

								.col-12.col-lg-6.modal-body--big__left
									a.projects.projects--modal.js-projects(style='background-image: url(/img/bg-projects-1.png)', href='/img/bg-projects-1.png', data-fancybox='group-1', data-caption='')
										span.projects__icon
										span.projects--modal__name

									a.projects.projects--modal.js-projects(style='background-image: url(/img/bg-projects-modal-1.png)', href='/img/bg-projects-modal-1.png', data-fancybox='group-1', data-caption='Вариант планировки 1-го этажа')
										span.projects__icon
										span.projects--modal__name Вариант планировки 1-го этажа

									a.projects.projects--modal.js-projects(style='background-image: url(/img/bg-projects-modal-1.png)', href='/img/bg-projects-modal-1.png', data-fancybox='group-1', data-caption='Вариант планировки 1-го этажа')
										span.projects__icon
										span.projects--modal__name Вариант планировки 1-го этажа

								.col-12.col-lg-6.modal-body--big__right
									.projects-detail.hidden-md
										span.projects-detail__type Базовый проект
										h2.projects-detail__title Haus #120
										p Maxima Haus это – дизайн, изготовление и продажа современных жилых домов выполненных в лучших традициях скандинавского домостроения.
										p Maxima Haus это – дизайн, изготовление и продажа современных жилых домов выполненных в лучших традициях скандинавского домостроения.

									.projects-form
										h4.modal-title.modal-title--left Записаться на просмотр

										form
											.row
												.col-12
													.form-group.form-group--modal
														input.form-control.form-control--modal(type='text', placeholder='Имя', required)
													.form-group.form-group--modal
														input.form-control.form-control--modal.phone-mask(type='tel', placeholder='Телефон', required)
													.form-group.form-group--modal
														input.form-control.form-control--modal(type='email', placeholder='E-mail')

												.col-12.btn-red-block-modal.btn-red-block-modal__left
													button.btn.btn-red
														span Записаться

													p.modal-personal Нажимая на кнопку «Записаться», я даю
														br
														| согласие на обработку персональных данных

				.modal-footer.modal-footer--big