.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

#SVG_container{
	position: absolute;
	height: 0;
	width: 0;
}

{{#shapes}}
.icon-{{base}} {
	font-size:({{height.inner}})*1px;
	width:({{width.inner}})*1px;
}
{{/shapes}}