extends layout/_base

block vars
    - var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Home'}

block content_block

    .background
        video.background__video(loop='', muted='', autoplay='', poster='/img/video/screen.jpg')
            source(src='/img/video/bg-video.mp4', type='video/mp4')
            source(src='/img/video/bg-video.webm', type='video/webm')

    .container-fluid.position-relative
        .row
            .col-12.link-video-block
                a(data-fancybox='link-video', href='https://youtu.be/r1mhakr3RnM').link-video.js-link-video
                    +icon(2, 'link-video__icon')
                    | Смотреть полное видео

            .container.info-container
                .row
                    .col-12.info-block
                        .info
                            span.info__text Свой дом по цене квартиры
                            h1.info__title Производство домов
                                br
                                span Скандинавская каркасная технология
                            button.btn.btn-red.info__btn.js-add-title-modal(type='button', data-toggle='modal', data-target='#signupModal', data-title-modal='Записаться на просмотр')
                                span Записаться на просмотр

    .container.main-container#about
        .row
            .col-12.col-lg-6.text-block
                h2.title-base Производитель домов. Россия.
                h3.title-min Скандинавская каркасная технология.
                p Maxima Haus это – дизайн, изготовление и продажа современных жилых домов выполненных в лучших традициях скандинавского домостроения.
                h3.title-min Проектируем и строим.
                p Под ключ, точно в срок и с высочайшим качеством построим тёплый, практичный и красивый современный дом.
                p Только качественная древесина. Система "Умный дом" в стандартной комплектации.
                p Планируя строительство вашего дома с нашей компанией, вы делаете покупку непосредственно от производителя.

            .col-12.col-lg-6.video-block
                iframe(width='100%', height='100%', src='https://www.youtube.com/embed/r1mhakr3RnM?rel=0&showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

    .container.main-container
        .row
            .col-12.title-line
                h2.title-base Наш подход

        .row.approach-row.approach-row--top
            .col-4.approach.approach--top
                h3.approach__title
                    span.approach__circle
                    | Участок
                span.approach__description Согласование участка строительства.

            .col-4.approach.approach--top
                h3.approach__title
                    span.approach__circle
                    | Производство
                span.approach__description Изготавливаем силовой каркас на собственном производстве - в заводских условиях - это значительно повышает качество каркаса, влияет на эксплуатационные характеристики и долговечность.

            .col-4.approach.approach--top
                h3.approach__title
                    span.approach__circle
                    | Документы
                span.approach__description Берём на себя все вопросы с документами или помогаем с их решением.

        .row.approach-row.approach-row--bottom
            .col-4.offset-2.approach.approach--bottom
                h3.approach__title
                    span.approach__circle
                    | Проект
                span.approach__description Адаптируем проект под ваши возможности, потребности и расположение объекта - детальное проектирование экономит ваши деньги.

            .col-4.approach.approach--bottom
                h3.approach__title
                    span.approach__circle
                    | Сборка и отделка
                span.approach__description На каждом этапе - контроль качества. Полная открытость процесса строительства и ответственный подход.

        .row.approach-row.approach-row--mobile
            .col-12.approach.approach--mobile
                h3.approach__title
                    span.approach__circle
                    | Участок
                span.approach__description Согласование участка строительства.

            .col-12.approach.approach--mobile
                h3.approach__title
                    span.approach__circle
                    | Проект
                span.approach__description Адаптируем проект под ваши возможности, потребности и расположение объекта - детальное проектирование экономит ваши деньги.

            .col-12.approach.approach--mobile
                h3.approach__title
                    span.approach__circle
                    | Производство
                span.approach__description Изготавливаем силовой каркас на собственном производстве - в заводских условиях - это значительно повышает качество каркаса, влияет на эксплуатационные характеристики и долговечность.

            .col-12.approach.approach--mobile
                h3.approach__title
                    span.approach__circle
                    | Сборка и отделка
                span.approach__description На каждом этапе - контроль качества. Полная открытость процесса строительства и ответственный подход.

            .col-12.approach.approach--mobile
                h3.approach__title
                    span.approach__circle
                    | Документы
                span.approach__description Берём на себя все вопросы с документами или помогаем с их решением.

    .container.main-container#projects
        .row
            .col-12.title-line
                h2.title-base Наши проекты

        .row
            .col-12.col-lg-6.projects-block
                .projects(style='background-image: url(/img/bg-projects-1.png)', data-toggle='modal', data-target='#projectsModal')
                    span.projects__icon
                    .projects__info
                        span.projects__type Базовый проект
                        span.projects__name Haus #120

            .col-12.col-lg-6.projects-block
                .projects(style='background-image: url(/img/bg-projects-2.png)', data-toggle='modal', data-target='#projectsModal')
                    span.projects__icon
                    .projects__info
                        span.projects__type Базовый проект
                        span.projects__name Haus #120

            .col-12.col-lg-6.projects-block
                .projects(style='background-image: url(/img/bg-projects-3.png)', data-toggle='modal', data-target='#projectsModal')
                    span.projects__icon
                    .projects__info
                        span.projects__type Базовый проект
                        span.projects__name Haus #120

            .col-12.col-lg-6.projects-block
                .projects(style='background-image: url(/img/bg-projects-4.png)', data-toggle='modal', data-target='#projectsModal')
                    span.projects__icon
                    .projects__info
                        span.projects__type Базовый проект
                        span.projects__name Haus #120

    .container.main-container#team
        .row
            .col-12.title-line
                h2.title-base Команда
                span.title-line__text С любовью к архитектуре
                span.title-line__description Проектируем - Строим - Развиваемся - Обучаем - Вдохновляемся

        .row.team-row
            .col-12.col-lg-3.col-xl-2.team-city-block
                span.team-city Вологда
                div.swiper-button-block
                    .swiper-button-prev.button-team-prev.js-swiper-city-prev(data-this-slider='vologda')
                    .swiper-button-next.button-team-next.js-swiper-city-next(data-this-slider='vologda')

            .col-12.col-lg-9.col-xl-10
                .swiper-container.swiper-team.js-swiper-city(data-slider='vologda')
                    .swiper-wrapper
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-1.png)')
                                span.team__name Максим
                                span.team__surname Батурин
                                span.team__post Управление и дизайн
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-2.png)')
                                span.team__name Михаил
                                span.team__surname Баринов
                                span.team__post Управление и строительство
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-3.png)')
                                span.team__name Михаил
                                span.team__surname Ушаков
                                span.team__post Франчайзинг
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-4.png)')
                                span.team__name Павел
                                span.team__surname Кулешов
                                span.team__post Архитектура и дизайн
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-5.png)')
                                span.team__name Елизавета
                                span.team__surname Медведева
                                span.team__post Связи с общественностью
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-1.png)')
                                span.team__name Максим
                                span.team__surname Батурин
                                span.team__post Управление и дизайн
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-2.png)')
                                span.team__name Михаил
                                span.team__surname Баринов
                                span.team__post Управление и строительство

        .row.team-row
            .col-12.col-lg-3.col-xl-2.team-city-block
                span.team-city Череповец
                div.swiper-button-block
                    .swiper-button-prev.button-team-prev.js-swiper-city-prev(data-this-slider='cher')
                    .swiper-button-next.button-team-next.js-swiper-city-next(data-this-slider='cher')

            .col-12.col-lg-9.col-xl-10
                .swiper-container.swiper-team.js-swiper-city(data-slider='cher')
                    .swiper-wrapper
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-1.png)')
                                span.team__name Максим
                                span.team__surname Батурин
                                span.team__post Управление и дизайн
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-2.png)')
                                span.team__name Михаил
                                span.team__surname Баринов
                                span.team__post Управление и строительство
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-3.png)')
                                span.team__name Михаил
                                span.team__surname Ушаков
                                span.team__post Франчайзинг
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-4.png)')
                                span.team__name Павел
                                span.team__surname Кулешов
                                span.team__post Архитектура и дизайн
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-5.png)')
                                span.team__name Елизавета
                                span.team__surname Медведева
                                span.team__post Связи с общественностью
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-1.png)')
                                span.team__name Максим
                                span.team__surname Батурин
                                span.team__post Управление и дизайн
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-2.png)')
                                span.team__name Михаил
                                span.team__surname Баринов
                                span.team__post Управление и строительство

        .row.team-row
            .col-12.col-lg-3.col-xl-2.team-city-block
                span.team-city Ярославль
                div.swiper-button-block
                    .swiper-button-prev.button-team-prev.js-swiper-city-prev(data-this-slider='yaroslavl')
                    .swiper-button-next.button-team-next.js-swiper-city-next(data-this-slider='yaroslavl')

            .col-12.col-lg-9.col-xl-10
                .swiper-container.swiper-team.js-swiper-city(data-slider='yaroslavl')
                    .swiper-wrapper
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-1.png)')
                                span.team__name Максим
                                span.team__surname Батурин
                                span.team__post Управление и дизайн
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-2.png)')
                                span.team__name Михаил
                                span.team__surname Баринов
                                span.team__post Управление и строительство
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-3.png)')
                                span.team__name Михаил
                                span.team__surname Ушаков
                                span.team__post Франчайзинг
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-4.png)')
                                span.team__name Павел
                                span.team__surname Кулешов
                                span.team__post Архитектура и дизайн
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-5.png)')
                                span.team__name Елизавета
                                span.team__surname Медведева
                                span.team__post Связи с общественностью
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-1.png)')
                                span.team__name Максим
                                span.team__surname Батурин
                                span.team__post Управление и дизайн
                        .swiper-slide
                            .team
                                .team__photo(style='background-image: url(/img/team-2.png)')
                                span.team__name Михаил
                                span.team__surname Баринов
                                span.team__post Управление и строительство

        .row
            .col-12
                #allCity.collapse
                    .row.team-row
                        .col-12.col-lg-3.col-xl-2.team-city-block
                            span.team-city Москва
                            div.swiper-button-block
                                .swiper-button-prev.button-team-prev.js-swiper-city-prev(data-this-slider='moskov')
                                .swiper-button-next.button-team-next.js-swiper-city-next(data-this-slider='moskov')

                        .col-12.col-lg-9.col-xl-10
                            .swiper-container.swiper-team.js-swiper-city--hidden(data-slider='moskov')
                                .swiper-wrapper
                                    .swiper-slide
                                        .team
                                            .team__photo(style='background-image: url(/img/team-1.png)')
                                            span.team__name Максим
                                            span.team__surname Батурин
                                            span.team__post Управление и дизайн
                                    .swiper-slide
                                        .team
                                            .team__photo(style='background-image: url(/img/team-2.png)')
                                            span.team__name Михаил
                                            span.team__surname Баринов
                                            span.team__post Управление и строительство
                                    .swiper-slide
                                        .team
                                            .team__photo(style='background-image: url(/img/team-3.png)')
                                            span.team__name Михаил
                                            span.team__surname Ушаков
                                            span.team__post Франчайзинг
                                    .swiper-slide
                                        .team
                                            .team__photo(style='background-image: url(/img/team-4.png)')
                                            span.team__name Павел
                                            span.team__surname Кулешов
                                            span.team__post Архитектура и дизайн
                                    .swiper-slide
                                        .team
                                            .team__photo(style='background-image: url(/img/team-5.png)')
                                            span.team__name Елизавета
                                            span.team__surname Медведева
                                            span.team__post Связи с общественностью
                                    .swiper-slide
                                        .team
                                            .team__photo(style='background-image: url(/img/team-1.png)')
                                            span.team__name Максим
                                            span.team__surname Батурин
                                            span.team__post Управление и дизайн
                                    .swiper-slide
                                        .team
                                            .team__photo(style='background-image: url(/img/team-2.png)')
                                            span.team__name Михаил
                                            span.team__surname Баринов
                                            span.team__post Управление и строительство

        .row
            .col-12.text-center
                button.btn.btn-red.js-btn-allcity.collapsed(type='button', data-toggle='collapse', data-target='#allCity', aria-expanded='false')
                    span Все города

    .container.main-container
        .row
            .col-12.title-line
                h2.title-base Индивидуальное решение

        .row
            .col-12.col-lg-6.consultation
                span.consultation__icon
                    +icon(7)
                    +icon(8)
                p.consultation__text Наш архитектурный отдел спроектирует дом с учётом ваших потребностей и вкуса.

                .team-consultation
                    .team.team-author
                        .team__photo(style='background-image: url(/img/team-4.png)')
                        .team-author__info
                            span.team__name Павел
                            span.team__surname Кулешов
                            span.team__post Архитектура и дизайн

                    button.btn.btn-red.js-add-title-modal(type='button', data-toggle='modal', data-target='#signupModal', data-title-modal='Консультация с архитектором')
                        span Консультация с архитектором

            .col-12.col-lg-6.video-block.video-block__bottom
                iframe(width='100%', height='100%', src='https://www.youtube.com/embed/r1mhakr3RnM?rel=0&showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

    .container.main-container
        .row
            .col-12
                h3.title-min.title-min--base Некоторые из наших индивидуальных проектов

        .row
            .col-12.col-lg-6.projects-block.projects-block--individual
                a.projects.js-projects(style='background-image: url(/img/bg-projects-5.png)', href='/img/bg-projects-5.png', data-fancybox='individual-project', data-caption='Haus #150 Вишневый сад')
                    span.projects__icon
                    .projects-info-position
                        .projects__info
                            span.projects__name Haus #150
                            span.projects__type Вишневый сад

            .col-12.col-lg-6.projects-block.projects-block--individual
                a.projects.js-projects(style='background-image: url(/img/bg-projects-6.png)', href='/img/bg-projects-6.png', data-fancybox='individual-project', data-caption='Haus #150 Вишневый сад')
                    span.projects__icon
                    .projects-info-position
                        .projects__info
                            span.projects__name Haus #150
                            span.projects__type Вишневый сад

            .col-12.col-lg-6.projects-block.projects-block--individual
                a.projects.js-projects(style='background-image: url(/img/bg-projects-7.png)', href='/img/bg-projects-7.png', data-fancybox='individual-project', data-caption='Haus #150 Вишневый сад')
                    span.projects__icon
                    .projects-info-position
                        .projects__info
                            span.projects__name Haus #150
                            span.projects__type Вишневый сад

            .col-12.col-lg-6.projects-block.projects-block--individual
                a.projects.js-projects(style='background-image: url(/img/bg-projects-2.png)', href='/img/bg-projects-2.png', data-fancybox='individual-project', data-caption='Haus #150 Вишневый сад')
                    span.projects__icon
                    .projects-info-position
                        .projects__info
                            span.projects__name Haus #150
                            span.projects__type Вишневый сад

    .container.contacts-container#contacts
        .row
            .col-12.title-line
                h2.title-base Контакты

        .row
            .col-12.col-lg-6.contacts-block.contacts-block--left
                img.contacts__logo(src='/img/icons/1.svg')
                .contacts__phone
                    +icon(4, 'icon-phone')
                    span.text-phone 8 (8202) 73-11-11,
                    span.text-phone 8 (800) 111-11-11

                span.contacts__city 162600, г. Череповец, Советский пр., 16

                span.contacts__info Больше информации на
                    =' '
                    a(href='https://www.youtube.com/channel/UCgWznjAc_NnJe6zwFsBG44g', target='_blank') YouTube
                    | .
                    br
                    | Подписывайтесь на канал и следите за самыми последними новостями в режиме он-лайн.

                .contacts__social
                    a(href='https://www.youtube.com/channel/UCgWznjAc_NnJe6zwFsBG44g', target='_blank').contacts__social__item
                        +icon(9)
                    a(href='#', target='_blank').contacts__social__item
                        +icon(10)
                    a(href='#', target='_blank').contacts__social__item
                        +icon(11)

            .offset-md-1.col-md-10.offset-lg-0.col-lg-6.contacts-block.contacts-block--right
                .contacts__form
                    h4.contacts__title Записаться на просмотр

                    form
                        .row
                            .col-12
                                .form-group.form-group--base
                                    input.form-control.form-control--base(type='text', placeholder='Имя', required)
                                .form-group.form-group--base
                                    input.form-control.form-control--base.phone-mask(type='tel', placeholder='Телефон', required)
                                .form-group.form-group--base
                                    input.form-control.form-control--base(type='email', placeholder='E-mail')

                            .col-12.btn-red-block
                                button.btn.btn-red
                                    span Записаться

                p.contacts__personal Нажимая на кнопку «Записаться», я даю согласие на обработку персональных данных