include ../tpl/_project_mixins
include ../tpl/_global_mixins
include ../tpl/_project_vars
- var array = '';
block vars
doctype
html(lang="ru")
	head
		+head(array)
	body(class='#{array.body_class}', data-spy='scroll', data-target='#nav-scroll', data-offset='105')
		+header
		.global-wrapper.js-global-wrapper
			block content_block
			+footer

		+menu_mobile

		+local_popup
		+scripts