.footer
  background: $color-black
  padding-top: 40px
  padding-bottom: 40px

  &__left
    display: flex
    align-items: center

  &__right
    display: flex
    align-items: center
    justify-content: space-between

  &__phone
    display: flex
    align-items: center

    .text-phone
      font-family: $semibold
      font-size: 10pt
      color: #fff

.navbar-main--footer
  padding: 0

  .navbar-main__link
    color: #fff
    &:focus
      color: #fff
    &:hover
      color: #808080

.link-developer
  display: flex
  align-items: center
  color: #fff
  text-decoration: none

  span
    font-family: $semibold
    font-size: 10pt
    color: #808080
    text-transform: uppercase
    margin-right: 15px
    transition: color .3s ease

  &:focus
    color: #fff
    text-decoration: none

    span
      color: #808080

  &:hover
    color: #fff
    text-decoration: none

    span
      color: #fff

  .icon-logo
    margin-top: -4px