.header
  position: fixed
  z-index: 50
  top: 0
  width: 100%
  background: #fff
  border-bottom: 1px solid transparent
  transition: border-color .3s ease, transform .3s ease

  &__container
    padding-top: 17px
    padding-bottom: 17px

  &__left
    display: flex
    align-items: center

    &__logo
      margin-right: 30px
      width: 118px
      transition: width .3s ease, margin-top .3s ease

    &__phone
      display: flex
      align-items: center
      margin-left: 20px

  &__right
    display: flex
    align-items: center

.header-fixed-top
  border-bottom: 1px solid #e6e6e6

  .header__left__logo
    width: 69px


.icon-phone
  color: $color-red

.text-phone
  font-family: $semibold
  font-size: 11pt
  margin-left: 10px

.btn-city
  font-family: $semibold
  text-transform: uppercase
  font-size: 10pt
  color: #808080
  background: transparent
  padding: 0

  &__arrow
    vertical-align: middle
    margin-top: -2px
    margin-left: 3px

.navbar-main
  padding: 0 20px

  &__link
    font-family: $semibold
    font-size: 10pt
    text-transform: uppercase
    color: #808080
    transition: color .3s ease
    &:focus
      color: #808080
    &:hover
      color: #333
    &.active
      color: #333

.btn-navbar
  display: none
  align-items: center
  border-radius: 0
  border: 0
  padding: 0
  background: transparent
  height: 23px

  &__line
    display: block
    width: 25px
    height: 3px
    background: #333
    position: relative
    &:before
      content: ''
      position: absolute
      width: 25px
      height: 3px
      background: #333
      left: 0
      top: -10px
    &:after
      content: ''
      position: absolute
      width: 12.5px
      height: 3px
      background: #333
      left: 0
      bottom: -10px

  &.show

    .btn-navbar__line
      background: transparent

      &:before
        top: 0
        transform: rotate(45deg)

      &:after
        bottom: 0
        transform: rotate(-45deg)
        width: 25px

.navbar-mobile
  background: #273845
  position: fixed
  top: 0
  right: -320px
  z-index: 100
  width: 320px
  height: 100vh
  overflow: auto
  display: none
  transition: right .3s ease

  &.show
    right: 0

  &__scroll
    display: flex
    flex-direction: column
    align-items: center
    padding: 35px 10px

  &__logo
    width: 81px
    margin-bottom: 30px

  &__dropdown
    margin-bottom: 20px

    .btn-city
      color: #ffffff

  &__phone
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 30px

    .icon-phone
      margin-bottom: 10px

    .text-phone
      color: #fff

  &__menu
    margin-bottom: 30px

    .nav
      flex-direction: column

      .navbar-main__link
        text-align: center
        color: #fff
        &:focus
          color: #fff
        &:hover
          color: #808080

  .btn-red
    color: #fff

.global-wrapper
  padding-top: 152px
  transition: padding-top .3s ease, transform .3s ease

  &.show
    transform: translateX(-320px)

  &.wrapper-padding
    padding-top: 103px

.header.show
  transform: translateX(-320px)