@media (max-width: 1369px)
  .hidden-lg
    display: none

  .navbar-main
    padding: 0

  .header__left__logo
    margin-right: 20px

  .projects
    height: 270px

  .video-block
    height: 275px

  .team-consultation
    align-items: flex-start
    justify-content: flex-start
    flex-direction: column

  .team-author
    margin-bottom: 20px

  .consultation__text
    font-size: 15pt
    margin-bottom: 15px

  .projects-block:nth-child(2n)
    margin-top: 100px

  .contacts__form
    padding: 55px 75px

  .projects-block
    padding: 0 22px

  .modal-body--big__right
    padding: 0 22px

  .modal-body--big__left
    padding: 0 22px

  .contacts-block
    padding: 0 22px

@media (max-width: 991px)
  .hidden-md
    display: none

  .btn-navbar
    display: flex

  .background
    height: 460px
    background: url(../img/video/screen.jpg) center no-repeat
    background-size: cover

    &__video
      display: none

  .link-video-block
    height: 360px
    max-width: 720px
    left: 50%
    margin-left: -360px
    z-index: 1

  .link-video
    right: auto
    left: 22px

  .info-container
    height: 585px
    margin-bottom: 75px

  .info-block
    height: 585px

  .info-container:before
    display: none

  .info
    position: relative
    padding-bottom: 20px
    &:before
      content: ''
      position: absolute
      width: 100vw
      height: 100%
      right: 100%
      top: 0
      background: #fff

  .video-block
    margin: 55px auto 0
    height: 345px
    max-width: 584px

  .projects
    max-width: 555px
    height: 350px
    margin: 0 auto

  .projects-block
    margin-bottom: 90px

    &:nth-child(2n)
      margin-top: 0

    &:last-child
      margin-bottom: 0

  .team-city-block
    padding: 0 22px
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 40px

  .team-city
    margin-bottom: 0

  .consultation
    text-align: center

  .team-consultation
    justify-content: center
    flex-direction: row
    align-items: center

  .team-author
    margin-bottom: 0
    margin-right: 55px

  .contacts-block--left
    background: url(../img/icons/15.svg) no-repeat 0 center
    margin-bottom: 80px

  .footer__left
    justify-content: center
    margin-bottom: 10px

  .footer
    padding-top: 25px
    padding-bottom: 25px

  .approach-row--top
    display: none

  .approach-row--bottom
    display: none

  .approach-row--mobile
    display: flex

  .modal-header--big .btn-close
    right: 15px

    span
      display: none

  .projects--modal
    margin: 0 auto 15px

  .projects-detail
    max-width: 555px
    margin: 0 auto 35px

  .projects-form
    padding-bottom: 0
    max-width: 555px
    margin: 0 auto 35px
    background: none

  .modal-body--big__left
    margin-bottom: 35px

  .modal-body--big__top
    display: block

  .navbar-mobile
    display: block

@media (max-width: 767px)
  .header__left__dropdown
    display: none

  .header__left__phone
    display: none

  .header__left__logo
    width: 86px
    margin-bottom: -70px

  .header__container
    height: 70px

  .global-wrapper
    padding-top: 70px

    &.wrapper-padding
      padding-top: 70px

  .header__right
    height: 36px

  .header-fixed-top .header__left__logo
    width: 50px
    margin-top: -70px

  .background
    height: 220px
    position: relative

  .info-container
    height: auto
    margin-bottom: 50px

  .info-block
    height: auto

  .info
    padding-right: 0

    &:before
      display: none

  .link-video-block
    height: auto
    max-width: none
    left: auto
    margin-left: 0

  .link-video
    bottom: 25px

  .info__text
    font-size: 14pt

  .info__title
    font-size: 30pt
    line-height: 1

    span
      margin-top: 10px
      line-height: 1.2

  .info__btn
    margin: 0 auto

  .video-block
    height: 205px
    padding: 0

    &__bottom
      display: none

  .main-container
    margin-bottom: 65px

  .projects-block
    padding: 0
    margin-bottom: 135px
    &:last-child
      margin-bottom: 110px

  .projects
    height: 205px

    &__info
      margin: 0
      padding: 25px 20px
      position: absolute
      top: 100%
      left: 0
      &:before
        display: none
      &:after
        display: none

    &__type
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis

    &__name
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis

  .title-line__description
    padding: 0 10px
    line-height: 1.2

  .title-line__text
    line-height: 1.2
    margin-top: 25px
    margin-bottom: 20px

  .consultation__text
    font-size: 18pt
    line-height: 1.3

  .team-consultation
    flex-direction: column

  .team-author
    margin-bottom: 40px
    margin-right: 0

    &__info
      text-align: left

  .contacts__city
    font-size: 9pt

  .contacts-block--left
    background: none

  .contacts-block--right
    padding: 0

  .contacts__form
    padding: 55px 22px

  .contacts-container
    margin-bottom: 10px

  .navbar-main--footer
    .nav
      flex-direction: column

    .navbar-main__link
      text-align: center

  .footer__right
    flex-direction: column

  .footer__phone
    margin-bottom: 20px
    margin-top: 10px

  .projects-block--individual
    margin-bottom: 60px
    &:last-child
      margin-bottom: 0

  .projects-block--individual .projects__info
    position: relative
    transform: rotate(-90deg) translate(30%)

  .projects-info-position
    transform: translate(-40%)

  .modal-logo
    display: none

  .modal-body--big__center
    padding: 0 15px
    margin-bottom: 35px

  .modal-body--big__left
    padding: 0

  .projects-detail__type
    text-align: center

  .projects-detail__title
    text-align: center

  .btn-red-block-modal__left
    flex-direction: column
    padding: 0 15px

  .btn-red-block-modal__left .modal-personal
    margin-top: 15px
    margin-left: 0
    text-align: center