.modal-dialog--big
  max-width: 100%
  margin: 0 auto

.modal-content--big
  background-color: transparent
  border: 0
  border-radius: 0
  padding: 0 0 15px

.modal-header--big
  border-bottom: 0
  border-top-left-radius: 0
  border-top-right-radius: 0
  padding: 0 22px
  min-height: 105px

  .btn-close
    font-family: $regular
    font-size: 12pt
    color: #808080
    letter-spacing: 5.5px
    padding: 0
    margin: 0
    font-weight: normal
    opacity: 1
    position: absolute
    right: 70px
    top: 50px

    .icon
      color: #333
      vertical-align: middle
      margin-top: -1px
      margin-left: 3px
      transition: color .3s ease

    &:focus
      .icon
        color: #333

    &:hover
      .icon
        color: $color-red

.modal-body--big
  padding: 0 22px

  &__center
    padding: 0 43px

  &__left
    padding: 0 43px

  &__right
    padding: 0 43px

  &__top
    display: none

.modal-footer--big
  border-top: 0
  padding: 0 22px

.modal-backdrop
  background-color: #fff

.modal-backdrop.show
  opacity: 1

.modal-title
  font-family: $regular
  font-size: 18pt
  color: #000
  text-align: center
  margin-bottom: 35px

  &--left
    text-align: left

.form-group--modal
  margin-bottom: 30px

.modal-personal
  font-family: $regular
  font-size: 10pt
  color: #808080
  text-align: center
  margin-bottom: 0
  margin-top: 15px
  line-height: 1.3

.btn-red-block-modal
  margin-top: 20px
  text-align: center

  &__left
    text-align: left
    display: flex
    align-items: center

    .modal-personal
      margin-top: 0
      margin-left: 30px
      text-align: left

.modal-logo
  width: 370px
  height: 170px
  margin: 0 auto 150px
  background: url(../img/icons/15.svg) center top no-repeat
  text-align: center

  &__img
    width: 88px

.projects-detail
  display: flex
  flex-direction: column
  margin-bottom: 35px

  &__type
    font-family: $regular
    font-size: 12pt
    color: #808080
    letter-spacing: 5.5px
    margin-bottom: 5px

  &__title
    font-family: $bold
    font-size: 32pt
    color: #333
    margin-bottom: 30px

  p
    color: #000

.projects--modal
  margin-bottom: 15px
  text-decoration: none
  justify-content: flex-start
  &:focus
    text-decoration: none
  &:hover
    text-decoration: none

  &__name
    font-family: $bold
    font-size: 12pt
    color: #fff
    position: relative
    margin: 0 20px 10px

.projects-form
  background: url(../img/icons/15.svg) center no-repeat
  padding-bottom: 110px