.background
  position: absolute
  width: 100%
  height: 630px
  overflow: hidden

  &__video
    position: absolute
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.info-container
  height: 630px
  position: relative
  margin-bottom: 100px
  &:before
    content: ''
    position: absolute
    width: 100vw
    height: 100%
    right: calc(100% - 22px)
    background: #fff

.info-block
  display: flex
  align-items: flex-end
  height: 630px

.info
  display: flex
  flex-direction: column
  align-items: flex-start
  background: #fff
  padding-top: 20px
  padding-right: 20px
  max-width: 625px
  width: 100%

  &__text
    font-family: $regular
    font-size: 18pt
    margin-bottom: 5px

  &__title
    font-family: $bold
    font-size: 36pt
    display: flex
    flex-direction: column
    margin-bottom: 30px

    span
      font-family: $regular
      font-size: 12pt
      color: #808080
      letter-spacing: 5.5px

.link-video-block
  position: absolute
  height: 630px
  left: 0
  top: 0

.link-video
  display: flex
  align-items: center
  color: #fff
  text-decoration: none
  position: absolute
  right: 45px
  bottom: 35px
  &:focus
    color: #fff
    text-decoration: none
  &:hover
    color: #fff
    text-decoration: underline

  &__icon
    margin-right: 15px

.title-base
  font-family: $light
  font-size: 28pt
  color: #000
  margin-bottom: 30px

.title-min
  font-family: $regular
  font-size: 18pt
  margin-bottom: 15px
  margin-top: 20px
  color: #333

  &--base
    margin-top: 0
    margin-bottom: 85px
    text-align: center

.text-block p
  margin-bottom: 12px

.main-container
  margin-bottom: 85px

.title-line
  text-align: center
  margin-bottom: 110px
  position: relative
  display: flex
  flex-direction: column
  &:after
    content: ''
    display: block
    position: absolute
    width: 1px
    height: 50px
    background: #999
    left: 50%
    top: calc(100% + 20px)

  &__text
    font-family: $regular
    font-size: 12pt
    color: #808080
    letter-spacing: 5.5px
    margin-top: 20px
    margin-bottom: 10px

  &__description
    font-family: $regular
    font-size: 18pt
    color: #333

  .title-base
    margin-bottom: 0

.approach-row

  &--bottom
    padding-top: 50px
    position: relative
    align-items: flex-start
    &:after
      content: ''
      display: block
      position: absolute
      top: 0
      left: 22px
      right: 22px
      border-top: 1px dashed #4D4D4D

  &--top
    padding-bottom: 50px
    align-items: flex-end

  &--mobile
    display: none

.approach
  display: flex
  flex-direction: column
  padding: 0 20px 0 65px

  &--top
    justify-content: flex-end
    &:after
      content: ''
      display: block
      position: absolute
      width: 1px
      background: #4D4D4D
      top: 11px
      bottom: -70px
      left: 34px
      z-index: -1

  &--bottom
    justify-content: flex-start
    &:after
      content: ''
      display: block
      position: absolute
      width: 1px
      background: #4D4D4D
      top: -70px
      bottom: calc(100% - 13px)
      left: 34px
      z-index: -1

  &__title
    font-family: $bold
    font-size: 18pt
    color: #4D4D4D
    margin-bottom: 20px
    position: relative

  &__description
    color: #000

  &__circle
    position: absolute
    display: block
    height: 22px
    width: 22px
    border: 1px solid #4D4D4D
    border-radius: 50%
    left: -42px
    top: 1px
    &:after
      content: ''
      display: block
      position: absolute
      width: 8px
      height: 8px
      background: #E31E24
      border-radius: 50%
      left: 50%
      top: 50%
      margin-left: -4px
      margin-top: -4px

  &--mobile
    margin-bottom: 30px

    &:after
      content: ''
      display: block
      position: absolute
      width: 0
      top: 10px
      bottom: -40px
      left: 34px
      z-index: -1
      border-left: 1px dashed #4D4D4D

    &:last-child:after
      display: none

    .approach__title
      margin-bottom: 15px

.projects
  display: flex
  align-items: flex-end
  justify-content: flex-end
  width: 100%
  height: 350px
  background-size: cover
  background-position: center
  cursor: pointer
  position: relative
  text-decoration: none

  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(0, 0, 0, 0.2)

  &__info
    display: flex
    flex-direction: column
    background: #fff
    padding: 22px 10px 19px 20px
    margin-bottom: -30px
    margin-right: -10px
    position: relative
    width: 100%
    max-width: 340px
    &:after
      content: ''
      position: absolute
      display: block
      width: 1px
      height: 30px
      background: #999
      right: 0
      bottom: 0
    &:before
      content: ''
      position: absolute
      display: block
      width: 42px
      height: 1px
      background: #999
      right: 0
      bottom: 0

  &__type
    font-family: $regular
    font-size: 12pt
    color: #808080
    letter-spacing: 5.5px

  &__name
    font-family: $bold
    font-size: 18pt
    color: #4D4D4D

  &__icon
    position: absolute
    display: block
    width: 37px
    height: 37px
    border: 1px solid #fff
    border-radius: 50%
    top: 50%
    left: 50%
    margin-top: -18px
    margin-left: -18px
    &:after
      content: ''
      position: absolute
      display: block
      width: 1px
      height: 13px
      background: #fff
      top: 50%
      left: 50%
      margin-top: -6px
      transition: height .3s ease, margin-top .3s ease
    &:before
      content: ''
      position: absolute
      display: block
      width: 13px
      height: 1px
      background: #fff
      top: 50%
      left: 50%
      margin-left: -6px
      transition: width .3s ease, margin-left .3s ease

  &:focus
    text-decoration: none

    .projects__icon
      &:after
        height: 13px
        margin-top: -6px
      &:before
        width: 13px
        margin-left: -6px

  &:hover
    text-decoration: none

    .projects__icon
      &:after
        height: 51px
        margin-top: -25px
      &:before
        width: 51px
        margin-left: -25px

.projects-block
  padding: 0 43px

  &:nth-child(2n)
    margin-top: 130px

    .projects
      justify-content: flex-start

      &__info
        margin-left: -10px
        &:after
          left: 0
          bottom: 0
        &:before
          left: 0
          bottom: 0

  &--individual

    &:nth-child(2n)
      margin-top: 130px

      .projects

        &__info
          margin-left: 0

    .projects
      justify-content: flex-start

      &__info
        flex-direction: row
        align-items: center
        padding: 9px 20px
        margin-bottom: -5px
        margin-right: 0
        width: auto
        max-width: none
        transform: rotate(-90deg) translate(50%)

        &:after
          display: none
        &:before
          display: none

      &__name
        font-family: ProximaNova-Bold, sans-serif
        font-size: 7pt
        color: #4D4D4D
        text-transform: uppercase
        letter-spacing: 2px
        margin-right: 10px

      &__type
        font-family: ProximaNova-Bold, sans-serif
        font-size: 7pt
        color: #4D4D4D
        text-transform: uppercase
        letter-spacing: 2px

.projects-info-position
  transform: translate(-50%)
  margin-left: 25px

.swiper-button-block
  display: flex

.button-team-next, .button-team-prev
  position: relative
  top: auto
  width: 40px
  height: 40px
  margin-top: 0
  z-index: 10
  cursor: pointer
  background-size: initial
  background-position: center
  background-repeat: no-repeat
  border: 1px solid #e6e6e6

.button-team-prev
  background-image: url(../img/icons/5.svg)
  left: auto
  right: auto
  margin-right: -1px
  transition: background .3s ease
  &:focus
    background-image: url(../img/icons/5.svg)
  &:hover
    background-image: url(../img/icons/5-c.svg)

  &.swiper-button-disabled
    background-image: url(../img/icons/5.svg)

.button-team-next
  background-image: url(../img/icons/6.svg)
  left: auto
  right: auto
  transition: background .3s ease
  &:focus
    background-image: url(../img/icons/6.svg)
  &:hover
    background-image: url(../img/icons/6-c.svg)

  &.swiper-button-disabled
    background-image: url(../img/icons/6.svg)

.team-city
  font-family: ProximaNova-Bold, sans-serif
  font-size: 12pt
  color: #4D4D4D
  text-transform: uppercase
  position: relative
  min-width: 130px
  display: inline-block
  margin-bottom: 30px
  padding: 25px 6px
  &:after
    content: ''
    position: absolute
    display: block
    width: 1px
    height: 30px
    background: $color-red
    right: 0
    bottom: 0
  &:before
    content: ''
    position: absolute
    display: block
    width: 42px
    height: 1px
    background: $color-red
    right: 0
    bottom: 0

.team-city-block
  padding: 0 43px

.team
  display: flex
  flex-direction: column

  &__photo
    width: 93px
    height: 93px
    background-size: cover
    background-position: center
    border-radius: 50%
    margin-bottom: 20px

  &__name
    font-family: $regular
    font-size: 12pt
    color: #808080
    letter-spacing: 5.5px
    line-height: 1

  &__surname
    font-family: $regular
    font-size: 18pt
    color: #333

  &__post
    font-family: $regular
    font-size: 10pt
    color: #808080
    line-height: 1

.team-row
  margin-bottom: 60px

.team-author
  flex-direction: row
  align-items: center

  &__info
    display: flex
    flex-direction: column

  .team__photo
    margin-bottom: 0
    margin-right: 25px

.team-consultation
  display: flex
  align-items: center
  justify-content: space-between

.consultation

  &__icon
    color: $color-red

  &__text
    font-family: $regular
    font-size: 18pt
    color: #333
    margin-top: 20px
    margin-bottom: 40px

.contacts-container
  margin-bottom: 45px

.contacts-block
  padding: 0 43px

  &--left
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    background: url(../img/icons/15.svg) no-repeat 22px center

.contacts

  &__logo
    width: 158px
    margin-bottom: 25px

  &__phone
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 15px

    .icon-phone
      margin-bottom: 5px
      width: 17px

    .text-phone
      font-size: 14pt
      margin-left: 0

  &__city
    font-family: $bold
    font-size: 10pt
    color: #333
    text-transform: uppercase
    margin-bottom: 30px

  &__info
    font-family: $regular
    font-size: 16pt
    line-height: 1.2
    color: #333
    margin-bottom: 25px

    a
      color: $color-red
      text-decoration: none
      &:focus
        color: $color-red
        text-decoration: none
      &:hover
        color: $color-red
        text-decoration: underline

  &__social
    display: flex
    &__item
      display: flex
      justify-content: center
      align-items: center
      width: 51px
      height: 51px
      margin: 0 6px 10px
      color: $color-red
      background: #fff
      transition: background .3s, color .3s
      &:focus
        color: $color-red
        background: #fff
      &:hover
        color: #fff
        background: $color-red

  &__form
    background: $color-black
    padding: 55px 95px

    .btn-red
      color: #fff

  &__title
    font-family: $regular
    font-size: 18pt
    color: #fff
    text-align: center
    margin-bottom: 40px

  &__personal
    font-family: $regular
    font-size: 10pt
    color: #808080
    text-align: center
    margin-bottom: 0
    margin-top: 10px

.btn-red-block
  text-align: center
  margin-top: 30px

.video-block
  height: 345px